# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shorcuts
# tmux
alias tnew="tmux new -s"
alias tkill="tmux kill-session -t"
alias tres="tmux rename-session -t"
alias trew="tmux rename-window"
alias tatt="tmux attach -t"

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

